* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: wheat;
}

#navbar {
    background-color: darkgreen;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}

#navbar ul li {
    margin: 2vw;
}

#navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    padding: 1vw;
    transition-property: background-color;
    transition-duration: 0.5s;
    border-radius: 0.5rem;
}

#navbar ul li a:hover {
    background-color: green;
    transition: all 0.5s ease-in-out;
}

#navbar ul li a.active {
    background-color: green;
}

#title {
    margin-top: 7vw;
    text-align: center;
    font-size: 3rem;
}

#my-info {
    display: flex;
    align-items: center;
    margin-top: 4vw;
}

#my-info p{
    font-size: 2.3rem;
    margin-top: 1.5vw;
    margin-right: 4vw;
}

#my-photo {
    display: inline;
    width: 25vw;
    height: 28vw;
    border-radius: 100%;
    border: 1px solid black;
    margin-left: 5vw;
    margin-right: 3vw;
}

#academic-interests {
    margin-top: 5vw;
}

#academic-interests h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 5vw;
}

#academic-interests ul {
    margin-left: 17.5vw;
}

#academic-interests ul li {
    font-size: 2.5rem;
    margin-bottom: 3vw;
}

#academic-interests ul li h5 {
    font-size: 2.3rem;
}

#academic-interests ul li p {
    font-size: 2rem;
    margin-right: 15vw;
    margin-top: 1vw;
}

.amp {
    font-family: sans-serif;
}